{%- liquid
  assign price = product.price | default: 1999
  assign compare_at_price = product.compare_at_price
  assign money_price = price | money
  assign money_compare_at_price = compare_at_price | money

  # Calculate discount percentage
  assign discount_percentage = 0
  if compare_at_price > price
    assign discount_percentage = compare_at_price | minus: price | times: 100.0 | divided_by: compare_at_price | round
  endif
-%}

<div class="price">
  {%- if compare_at_price > price -%}
    <s class="price-item price-item--regular">{{ money_compare_at_price }}</s>
    <span class="price-item price-item--sale">{{ money_price }}</span>
    <span class="price-item__discount-badge">-{{ discount_percentage }}%</span>
  {%- else -%}
    <span class="price-item price-item--regular">{{ money_price }}</span>
  {%- endif -%}
</div>
