.collection {
  position: relative;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color-foreground), 0.04);
  display: none;
}

.loading .loading-overlay {
  display: block;
}

@media screen and (max-width: 749px) {
  .collection .grid__item {
    padding-left: 0;
  }
}

.collection .grid {
  margin-left: 0;
}

.collection .grid__item {
  padding: 0 1.5rem 3rem;
}

@media screen and (min-width: 750px) {
  .collection .grid__item {
    padding: 0 2rem 4rem;
  }
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.collection-filters {
  display: flex;
  flex-direction: column;
}

.collection-filters > * {
  margin: -0.5rem;
  padding: 0.5rem;
}

.collection-filters__label {
  display: block;
  margin-bottom: 1rem;
}

.collection-filters__field {
  flex-grow: 1;
}

.product-grid-container {
  margin-bottom: 4rem;
}

.product-count {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .product-grid-container {
    margin-bottom: 8rem;
  }
}

@media screen and (min-width: 990px) {
  .collection-filters__field {
    max-width: 25rem;
  }
}
